.our-team {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	height: 4405px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 30px;
  	color: #fff;
  	font-family: 'DM Sans';
}
.our-team-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #005f00;
  	width: 1440px;
  	height: 401px;
}
.meet-the-team {
  	position: absolute;
  	top: 185px;
  	left: calc(50% - 116px);
  	font-size: 36px;
  	letter-spacing: -0.03em;
  	line-height: 40px;
}
.our-team-item {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fff;
  	width: 1440px;
  	height: 80px;
}
.each-individual-brings-container {
  	position: absolute;
  	top: 289px;
  	left: calc(50% - 600px);
  	letter-spacing: -0.03em;
  	line-height: 36px;
  	font-weight: 500;
  	color: #e5feeb;
  	text-align: center;
  	display: inline-block;
  	width: 1200px;
}
.each-individual-brings {
  	margin: 0;
}
.frame-parent {
  	position: absolute;
  	top: 533px;
  	left: calc(50% - 600px);
  	width: 1200px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 40px;
  	text-align: center;
  	color: #000;
}
.frame-wrapper {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 30px 0px;
}
.new-card-team-parent {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 10px;
}
.new-card-team {
  	border-radius: 25px;
  	background-color: rgba(255, 255, 255, 0.1);
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
}
.rectangle-parent {
  	width: 351px;
  	position: relative;
  	height: 348px;
}
.group-child {
  	position: absolute;
  	top: 0px;
  	left: 55px;
  	border-radius: 40px;
  	width: 241px;
  	height: 260px;
  	object-fit: cover;
}
.fortune-nwachukwu {
  	position: absolute;
  	top: 270px;
  	left: 0px;
  	letter-spacing: -0.03em;
  	line-height: 36px;
  	display: inline-block;
  	width: 351px;
}
.uiux-design {
  	position: absolute;
  	top: 316px;
  	left: 32px;
  	font-size: 24px;
  	letter-spacing: -0.03em;
  	line-height: 32px;
  	display: inline-block;
  	width: 288px;
}
.frame-wrapper3 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 30px 0px;
}
.rectangle-parent15 {
  	position: absolute;
  	top: 3762px;
  	left: 0px;
  	width: 1440px;
  	height: 643px;
  	font-size: 16px;
}
.rectangle {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #005f00;
  	width: 1440px;
  	height: 643px;
}
.row-1 {
  	position: absolute;
  	top: 60.26px;
  	left: 185.07px;
  	width: 1068.9px;
  	height: 80.7px;
  	font-size: 24px;
}
.logo {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 192px;
  	height: 44.8px;
}
.logo-parent {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 17px;
  	cursor: pointer;
}
.logo-icon {
  	width: 56px;
  	position: relative;
  	height: 44.8px;
}
.medcheck {
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 32px;
}
.divider {
  	position: absolute;
  	top: 79.74px;
  	left: 0.93px;
  	background-color: #fff;
  	width: 1068px;
  	height: 1px;
  	opacity: 0.1;
  	mix-blend-mode: normal;
}
.newsletter {
  	position: absolute;
  	top: 181px;
  	left: 120px;
  	width: 346.8px;
  	height: 139px;
  	overflow: hidden;
  	font-size: 20px;
}
.subscribe-to-our-container {
  	position: absolute;
  	top: calc(50% - 69.5px);
  	left: 0%;
  	letter-spacing: -0.03em;
  	line-height: 28px;
}
.form {
  	position: absolute;
  	height: 36.69%;
  	width: 100%;
  	top: 63.31%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	overflow: hidden;
  	font-size: 16px;
}
.our-team-rectangle {
  	position: absolute;
  	height: 1.96%;
  	width: 100%;
  	top: 98.04%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	background-color: #fff;
  	opacity: 0.1;
  	mix-blend-mode: normal;
}
.our-team-subscribe-to-our {
  	position: absolute;
  	top: calc(50% - 11.5px);
  	left: 0%;
  	letter-spacing: -0.03em;
  	line-height: 24px;
}
.submit-icon {
  	position: absolute;
  	height: 98.04%;
  	width: 17.3%;
  	top: 0%;
  	right: 0%;
  	bottom: 1.96%;
  	left: 82.7%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.services {
  	position: absolute;
  	top: 181px;
  	left: 586.8px;
  	width: 127.2px;
  	height: 182px;
  	overflow: hidden;
}
.our-team-services {
  	position: absolute;
  	width: 67.92%;
  	top: calc(50% - 91px);
  	left: 0%;
  	font-size: 18px;
  	letter-spacing: -0.03em;
  	line-height: 28px;
  	display: inline-block;
  	color: #99fcaf;
}
.email-marketing {
  	position: absolute;
  	width: 94.34%;
  	top: calc(50% - 49px);
  	left: 0%;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	display: inline-block;
  	cursor: pointer;
}
.campaigns {
  	position: absolute;
  	width: 100.94%;
  	top: calc(50% - 9px);
  	left: 0%;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	display: inline-block;
  	cursor: pointer;
}
.branding {
  	position: absolute;
  	width: 72.64%;
  	top: calc(50% + 31px);
  	left: 0%;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	display: inline-block;
  	cursor: pointer;
}
.offline {
  	position: absolute;
  	top: calc(50% + 71px);
  	left: 0%;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	cursor: pointer;
}
.about {
  	position: absolute;
  	top: 181px;
  	left: 920px;
  	width: 159px;
  	height: 182px;
}
.our-team-about {
  	position: absolute;
  	top: calc(50% - 91px);
  	left: 0%;
  	font-size: 18px;
  	letter-spacing: -0.03em;
  	line-height: 28px;
  	color: #99fcaf;
}
.our-story {
  	position: absolute;
  	top: calc(50% - 49px);
  	left: 0%;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	cursor: pointer;
}
.benefits {
  	position: absolute;
  	top: calc(50% - 9px);
  	left: 0%;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	cursor: pointer;
}
.careers {
  	position: absolute;
  	width: 86.16%;
  	top: calc(50% + 71px);
  	left: 0%;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	display: inline-block;
  	cursor: pointer;
}
.team {
  	position: absolute;
  	top: calc(50% + 31px);
  	left: 0%;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	cursor: pointer;
}
.help {
  	position: absolute;
  	width: 4.15%;
  	top: calc(50% - 140.5px);
  	left: 77.64%;
  	font-size: 18px;
  	letter-spacing: -0.03em;
  	line-height: 28px;
  	display: inline-block;
  	color: #99fcaf;
}
.contact-us {
  	position: absolute;
  	top: calc(50% - 98.5px);
  	left: 77.64%;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	cursor: pointer;
}
.row-3 {
  	position: absolute;
  	top: 433px;
  	left: 120px;
  	width: 1200px;
  	height: 22px;
  	overflow: hidden;
}
.terms-conditions {
  	position: absolute;
  	width: 12.93%;
  	top: calc(50% - 9px);
  	left: 0%;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	display: inline-block;
}
.privacy-policy {
  	position: absolute;
  	width: 8.99%;
  	top: calc(50% - 9px);
  	left: 16.2%;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	display: inline-block;
}
.social {
  	position: absolute;
  	height: 100%;
  	width: 12.54%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 87.46%;
}
.facebook-icon {
  	position: absolute;
  	height: 90%;
  	width: 7.38%;
  	top: 4.55%;
  	right: 92.62%;
  	bottom: 5.45%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.twitter-icon {
  	position: absolute;
  	height: 81.36%;
  	width: 16.41%;
  	top: 9.09%;
  	right: 46.29%;
  	bottom: 9.55%;
  	left: 37.3%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.instagram-icon {
  	position: absolute;
  	height: 100%;
  	width: 16.41%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 83.59%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.medcheck-all-rights {
  	position: absolute;
  	top: 577px;
  	left: calc(50% - 600px);
  	font-size: 20px;
  	letter-spacing: -0.03em;
  	line-height: 28px;
  	font-weight: 500;
  	color: #e5feeb;
  	text-align: center;
  	display: inline-block;
  	width: 1200px;
}
.logo-group {
  	position: absolute;
  	top: 21px;
  	left: 70px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 17px;
  	cursor: pointer;
  	font-size: 18px;
  	color: #1a1a1a;
}
.our-team-logo-icon {
  	width: 40px;
  	position: relative;
  	height: 32px;
}
.our-team-medcheck {
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 28px;
  	font-weight: 500;
}
.component-18-parent {
  	position: absolute;
  	top: 3px;
  	left: calc(50% - 157px);
  	border-radius: 25px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 15px;
  	gap: 25px;
  	font-size: 16px;
  	color: #00c503;
}
.component-18 {
  	border-radius: 10px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px 10px;
  	font-size: 18px;
}
.component-17 {
  	border-radius: 10px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px 10px;
}
.our-team-our-service {
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	font-weight: 500;
}
.frame-group {
  	position: absolute;
  	top: 9px;
  	left: 1146px;
  	width: 174px;
  	height: 60px;
}
.frame-icon {
  	position: absolute;
  	top: 13px;
  	left: 140px;
  	width: 34px;
  	height: 34px;
}
.group-icon {
  	position: absolute;
  	top: 0px;
  	left: 57px;
  	width: 60px;
  	height: 60px;
  	object-fit: cover;
}
.group-child15 {
  	position: absolute;
  	top: 13px;
  	left: 0px;
  	border-radius: 100px;
  	width: 34px;
  	height: 34px;
}


.notificaton-open {
  	width: 282px;
  	position: relative;
  	border-radius: 0px 0px 15px 15px;
  	background-color: #fff;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 15px;
  	box-sizing: border-box;
  	gap: 10px;
  	max-width: 90%;
  	max-height: 90%;
  	overflow: auto;
  	text-align: left;
  	font-size: 12px;
  	color: #1a1a1a;
  	font-family: 'DM Sans';
}
.notification-default {
  	width: 252px;
  	border-radius: 0px 10px 10px 10px;
  	background-color: #fff;
  	border-bottom: 2px solid #00ab00;
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 10px;
  	gap: 12px;
}
.notification-default-child {
  	width: 40px;
  	position: relative;
  	border-radius: 50%;
  	max-height: 100%;
  	object-fit: cover;
}
.notificaton-open-frame-parent {
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 6px;
}
.miss-jennifer-parent {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 14px;
  	font-size: 16px;
}
.miss-jennifer {
  	flex: 1;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	font-weight: 500;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}
.view-wrapper {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px;
  	text-align: center;
  	font-size: 12px;
  	color: #999;
}
.view {
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 16px;
}
.fake-product-everywhere {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 16px;
  	color: #4d4d4d;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}
.m-ago {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 16px;
  	color: #999;
}


.profilelogout {
  	width: 193px;
  	position: relative;
  	background-color: #fff;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 5px;
  	max-width: 90%;
  	max-height: 90%;
  	overflow: auto;
  	text-align: right;
  	font-size: 18px;
  	color: #00c503;
  	font-family: 'DM Sans';
}
.profilelogout-component-18 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 5px 10px;
}
.profilelogout-our-service {
  	flex: 1;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 28px;
  	font-weight: 500;
}

