.mobile-history {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	height: 2116px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 17px;
  	color: #1a1a1a;
  	font-family: 'DM Sans';
}
.status-bar-iphone {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 187.5px);
  	width: 375px;
  	height: 50px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 21px 0px 0px;
  	box-sizing: border-box;
  	text-align: center;
  	color: #000;
  	font-family: 'SF Pro';
}
.frame {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;
  	gap: 0px;
}
.time {
  	flex: 1;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 6px 0px 16px;
}
.mobile-history-time {
  	position: relative;
  	line-height: 22px;
  	font-weight: 600;
}
.dynamic-island-spacer {
  	width: 124px;
  	height: 10px;
}
.levels {
  	flex: 1;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 16px 0px 6px;
  	gap: 7px;
}
.cellular-connection-icon {
  	width: 19.2px;
  	position: relative;
  	height: 12.2px;
}
.wifi-icon {
  	width: 17.1px;
  	position: relative;
  	height: 12.3px;
}
.battery {
  	width: 27.3px;
  	position: relative;
  	height: 13px;
}
.border {
  	position: absolute;
  	height: 100%;
  	top: 0%;
  	bottom: 0%;
  	left: calc(50% - 13.65px);
  	border-radius: 4.3px;
  	border: 1px solid #000;
  	box-sizing: border-box;
  	width: 25px;
  	opacity: 0.35;
  	mix-blend-mode: normal;
}
.cap-icon {
  	position: absolute;
  	height: 31.54%;
  	top: 36.78%;
  	bottom: 31.68%;
  	left: calc(50% + 12.35px);
  	max-height: 100%;
  	width: 1.3px;
  	opacity: 0.4;
  	mix-blend-mode: normal;
}
.capacity {
  	position: absolute;
  	height: 69.23%;
  	top: 15.38%;
  	bottom: 15.38%;
  	left: calc(50% - 11.65px);
  	border-radius: 2.5px;
  	background-color: #000;
  	width: 21px;
}
.frame-parent {
  	position: absolute;
  	top: 61px;
  	left: 20px;
  	width: 335px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;
  	gap: 0px;
  	font-size: 16px;
}
.logo-parent {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 17px;
  	cursor: pointer;
}
.logo-icon {
  	width: 30px;
  	position: relative;
  	max-height: 100%;
}
.medcheck {
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	font-weight: 500;
}
.instance-parent {
  	display: flex;
  	flex-direction: row;
  	align-items: flex-end;
  	justify-content: flex-end;
  	gap: 20px;
}
.frame-child {
  	width: 24px;
  	border-radius: 100px;
  	height: 24px;
}
.menu-line-icon {
  	width: 24px;
  	position: relative;
  	height: 24px;
}
.home-indicator {
  	position: absolute;
  	bottom: 0px;
  	left: calc(50% - 187.5px);
  	width: 375px;
  	height: 34px;
}
.mobile-history-home-indicator {
  	position: absolute;
  	bottom: 8px;
  	left: calc(50% + 72.5px);
  	border-radius: 100px;
  	background-color: #000;
  	width: 144px;
  	height: 5px;
  	transform:  rotate(180deg);
  	transform-origin: 0 0;
}
.frame-group {
  	position: absolute;
  	top: 127px;
  	left: 20px;
  	width: 335px;
  	overflow-x: auto;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 10px 5px;
  	box-sizing: border-box;
  	gap: 20px;
  	text-align: center;
  	font-size: 12px;
  	color: #00ff37;
  	font-family: 'SF Pro Display';
}
.cirecle-prograss-bar-parent {
  	width: 204px;
  	box-shadow: 0px 3px 10.2px rgba(0, 0, 0, 0.25);
  	border-radius: 10px;
  	background-color: #fff;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 10px 20px;
  	box-sizing: border-box;
  	gap: 6px;
  	color: #1a1a1a;
}
.cirecle-prograss-bar {
  	width: 80px;
  	position: relative;
  	height: 80px;
}
.cirecle-prograss-bar-child {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 50%;
  	background-color: #f44336;
}
.cirecle-prograss-bar-item {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 50%;
  	background-color: #00ff37;
}
.div {
  	position: absolute;
  	width: 70%;
  	top: 32px;
  	left: 15%;
  	line-height: 16px;
  	font-weight: 500;
  	display: inline-block;
  	height: 16px;
}
.total-product-parent {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 7px;
  	text-align: left;
  	font-family: 'DM Sans';
}
.total-product {
  	align-self: stretch;
  	position: relative;
  	font-size: 16px;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	font-weight: 500;
  	text-align: center;
}
.verified-parent {
  	width: 85px;
  	position: relative;
  	height: 16px;
}
.verified {
  	position: absolute;
  	top: 0px;
  	left: 19px;
  	letter-spacing: -0.03em;
  	line-height: 16px;
}
.group-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #00ff37;
  	width: 14px;
  	height: 14px;
}
.reported-parent {
  	width: 96px;
  	position: relative;
  	height: 16px;
}
.reported {
  	position: absolute;
  	top: 0px;
  	left: 21px;
  	letter-spacing: -0.03em;
  	line-height: 16px;
}
.group-item {
  	position: absolute;
  	top: 1px;
  	left: 0px;
  	background-color: #f44336;
  	width: 14px;
  	height: 14px;
}
.cirecle-prograss-bar-group {
  	width: 204px;
  	box-shadow: 0px 3px 10.2px rgba(0, 0, 0, 0.25);
  	border-radius: 10px;
  	background-color: #fff;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 10px 20px;
  	box-sizing: border-box;
  	gap: 6px;
}
.cosmetic-parent {
  	width: 74px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 7px;
  	color: #1a1a1a;
  	font-family: 'DM Sans';
}
.cosmetic {
  	align-self: stretch;
  	position: relative;
  	font-size: 16px;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	font-weight: 500;
}
.verified-group {
  	width: 65px;
  	position: relative;
  	height: 16px;
}
.mobile-history-verified {
  	position: absolute;
  	top: 0px;
  	left: 24px;
  	letter-spacing: -0.03em;
  	line-height: 16px;
}
.group-inner {
  	position: absolute;
  	top: 1px;
  	left: 0px;
  	background-color: #00ff37;
  	width: 14px;
  	height: 14px;
}
.reported-group {
  	width: 74px;
  	position: relative;
  	height: 16px;
  	text-align: left;
}
.frame-container {
  	position: absolute;
  	top: 269px;
  	left: 20px;
  	width: 337px;
  	height: 619px;
  	overflow: auto;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	font-size: 18px;
}
.name-parent {
  	width: 938px;
  	background-color: #e0e0e0;
  	border-bottom: 2px solid #ccc;
  	box-sizing: border-box;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 10px;
  	gap: 27px;
}
.name {
  	width: 282px;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 28px;
  	font-weight: 500;
  	display: inline-block;
  	flex-shrink: 0;
}
.badge-products-wrapper {
  	width: 145px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.badge-products {
  	width: 112px;
  	border-radius: 5px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px 10px;
  	box-sizing: border-box;
}
.status {
  	width: 109px;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 28px;
  	font-weight: 500;
  	display: inline-block;
  	flex-shrink: 0;
}
.mobile-history-status {
  	width: 102px;
  	position: relative;
  	height: 28px;
}
.caterogies {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	letter-spacing: -0.03em;
  	line-height: 28px;
  	font-weight: 500;
  	display: inline-block;
  	width: 102px;
}
.nafdac-number {
  	width: 179px;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 28px;
  	font-weight: 500;
  	display: inline-block;
  	flex-shrink: 0;
}
.date {
  	width: 102px;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 28px;
  	font-weight: 500;
  	text-align: right;
  	display: inline-block;
  	flex-shrink: 0;
}
.product-name-parent {
  	width: 938px;
  	border-bottom: 2px solid #ccc;
  	box-sizing: border-box;
  	height: 52px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 10px;
  	gap: 27px;
}
.badge-products-container {
  	width: 145px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	font-size: 14px;
}
.mobile-history-badge-products {
  	width: 112px;
  	border-radius: 5px;
  	background-color: #ffeacc;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px 10px;
  	box-sizing: border-box;
}
.counterfeit {
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 20px;
}
.status2 {
  	width: 102px;
  	position: relative;
  	height: 28px;
  	color: #666;
}
.reg-no-a8-110681 {
  	width: 179px;
  	position: relative;
  	font-size: 16px;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	font-weight: 500;
  	display: inline-block;
  	flex-shrink: 0;
}
.div6 {
  	width: 102px;
  	position: relative;
  	font-size: 16px;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	font-weight: 500;
  	text-align: right;
  	display: inline-block;
  	flex-shrink: 0;
}
.badge-products-frame {
  	width: 145px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	font-size: 14px;
  	color: #fff;
}
.badge-products2 {
  	width: 102px;
  	border-radius: 5px;
  	background-color: #007900;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px 10px;
  	box-sizing: border-box;
}
.badge-products3 {
  	width: 145px;
  	border-radius: 5px;
  	background-color: #00ab00;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px 10px;
  	box-sizing: border-box;
}
.badge-products4 {
  	width: 67px;
  	border-radius: 5px;
  	background-color: #fcc7c3;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px 10px;
  	box-sizing: border-box;
}
.status5 {
  	width: 102px;
  	position: relative;
  	height: 28px;
  	color: #4d4d4d;
}
.badge-products5 {
  	width: 99px;
  	border-radius: 5px;
  	background-color: #da2a1d;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px 10px;
  	box-sizing: border-box;
}
.status6 {
  	width: 102px;
  	position: relative;
  	height: 28px;
  	color: #333;
}
.badge-products6 {
  	width: 125px;
  	border-radius: 5px;
  	background-color: #fcc7c3;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px 10px;
  	box-sizing: border-box;
}
.badge-products7 {
  	width: 87px;
  	border-radius: 5px;
  	background-color: #eee;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px 10px;
  	box-sizing: border-box;
}
.badge-products8 {
  	width: 109px;
  	border-radius: 5px;
  	background-color: #e5feeb;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px 10px;
  	box-sizing: border-box;
}
.badge-products9 {
  	width: 88px;
  	border-radius: 5px;
  	background-color: #e5feeb;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px 10px;
  	box-sizing: border-box;
}
.badge-products10 {
  	width: 127px;
  	border-radius: 5px;
  	background-color: #e6e6e6;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px 10px;
  	box-sizing: border-box;
}
.badge-products11 {
  	width: 146px;
  	border-radius: 5px;
  	background-color: #eee;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px 10px;
  	box-sizing: border-box;
}
.badge-products12 {
  	width: 114px;
  	border-radius: 5px;
  	background-color: #e6e6e6;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px 10px;
  	box-sizing: border-box;
}
.badge-products15 {
  	width: 131px;
  	border-radius: 5px;
  	background-color: #fef2d5;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px 10px;
  	box-sizing: border-box;
}
.badge-products16 {
  	width: 117px;
  	border-radius: 5px;
  	background-color: #00c503;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px 10px;
  	box-sizing: border-box;
}
.rectangle-parent {
  	position: absolute;
  	top: 927px;
  	left: calc(50% - 187.5px);
  	width: 376px;
  	height: 1139px;
  	font-size: 24px;
  	color: #fff;
}
.rectangle {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 188px);
  	background-color: #005f00;
  	width: 376px;
  	height: 1139px;
}
.logo-group {
  	position: absolute;
  	top: 44px;
  	left: 22px;
  	width: 334px;
  	height: 1051px;
}
.logo {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 192px;
  	height: 44.8px;
}
.logo-container {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 17px;
}
.mobile-history-logo-icon {
  	width: 56px;
  	position: relative;
  	height: 44.8px;
}
.mobile-history-medcheck {
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 32px;
}
.mobile-history-frame-parent {
  	position: absolute;
  	top: 94px;
  	left: 0px;
  	width: 334px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 40px;
  	font-size: 16px;
}
.services-parent {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 15px;
}
.services {
  	align-self: stretch;
  	position: relative;
  	font-size: 18px;
  	letter-spacing: -0.03em;
  	line-height: 28px;
  	color: #99fcaf;
}
.email-marketing {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	cursor: pointer;
}
.newsletter {
  	align-self: stretch;
  	position: relative;
  	height: 186px;
  	overflow: hidden;
  	flex-shrink: 0;
  	font-size: 20px;
}
.subscribe-to-our-container {
  	position: absolute;
  	width: 41.8%;
  	top: calc(50% - 70px);
  	left: 0%;
  	letter-spacing: -0.03em;
  	line-height: 28px;
  	display: inline-block;
}
.subscribe-to-our {
  	margin: 0;
}
.form {
  	position: absolute;
  	height: 36.67%;
  	width: 100%;
  	top: 63.31%;
  	right: 0%;
  	bottom: 0.02%;
  	left: 0%;
  	overflow: hidden;
  	font-size: 16px;
}
.mobile-history-rectangle {
  	position: absolute;
  	height: 1.91%;
  	width: 100%;
  	top: 98.1%;
  	right: 0%;
  	bottom: -0.01%;
  	left: 0%;
  	background-color: #fff;
  	opacity: 0.1;
  	mix-blend-mode: normal;
}
.mobile-history-subscribe-to-our {
  	position: absolute;
  	width: 28.26%;
  	top: calc(50% - 12.1px);
  	left: 0%;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	display: inline-block;
}
.submit-icon {
  	position: absolute;
  	height: 98.09%;
  	width: 17.31%;
  	top: 0%;
  	right: 0%;
  	bottom: 1.91%;
  	left: 82.7%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.social {
  	width: 150.5px;
  	position: relative;
  	height: 22px;
}
.facebook-icon {
  	position: absolute;
  	height: 90%;
  	width: 7.38%;
  	top: 4.55%;
  	right: 92.62%;
  	bottom: 5.45%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.twitter-icon {
  	position: absolute;
  	height: 81.36%;
  	width: 16.41%;
  	top: 9.09%;
  	right: 46.29%;
  	bottom: 9.55%;
  	left: 37.3%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.instagram-icon {
  	position: absolute;
  	height: 100%;
  	width: 16.41%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 83.59%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.terms-conditions-parent {
  	width: 335px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;
  	gap: 0px;
}
.terms-conditions {
  	width: 155.1px;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	display: inline-block;
  	flex-shrink: 0;
}
.privacy-policy {
  	width: 107.9px;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	display: inline-block;
  	flex-shrink: 0;
}
.medcheck-all-rights {
  	position: absolute;
  	top: 995px;
  	left: calc(50% - 167px);
  	font-size: 20px;
  	letter-spacing: -0.03em;
  	line-height: 28px;
  	font-weight: 500;
  	color: #e5feeb;
  	text-align: center;
  	display: inline-block;
  	width: 334px;
}


.menu {
  	width: 193px;
  	position: relative;
  	border-radius: 0px 0px 10px 10px;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-end;
  	justify-content: center;
  	padding: 25px 5px 25px 10px;
  	box-sizing: border-box;
  	max-width: 90%;
  	max-height: 90%;
  	text-align: left;
  	font-size: 18px;
  	color: #00c503;
  	font-family: 'DM Sans';
}
.component-18 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 5px 10px;
}
.our-service {
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 28px;
  	font-weight: 500;
}
.component-27 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 5px 10px;
  	text-align: right;
}
.our-service7 {
  	flex: 1;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 28px;
  	font-weight: 500;
}


.notificaton-open {
  	width: 282px;
  	position: relative;
  	border-radius: 0px 0px 15px 15px;
  	background-color: #fff;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 15px;
  	box-sizing: border-box;
  	gap: 10px;
  	max-width: 90%;
  	max-height: 90%;
  	overflow: auto;
  	text-align: left;
  	font-size: 12px;
  	color: #1a1a1a;
  	font-family: 'DM Sans';
}
.notification-default {
  	width: 252px;
  	border-radius: 0px 10px 10px 10px;
  	background-color: #fff;
  	border-bottom: 2px solid #00ab00;
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 10px;
  	gap: 12px;
}
.notification-default-child {
  	width: 40px;
  	position: relative;
  	border-radius: 50%;
  	max-height: 100%;
  	object-fit: cover;
}
.notificaton-open-frame-parent {
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 6px;
}
.miss-jennifer-parent {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 14px;
  	font-size: 16px;
}
.miss-jennifer {
  	flex: 1;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	font-weight: 500;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}
.view-wrapper {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px;
  	text-align: center;
  	font-size: 12px;
  	color: #999;
}
.view {
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 16px;
}
.fake-product-everywhere {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 16px;
  	color: #4d4d4d;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}
.m-ago {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 16px;
  	color: #999;
}

