.awereness-page {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	height: 3466px;
  	text-align: left;
  	font-size: 16px;
  	color: #1a1a1a;
  	font-family: 'DM Sans';
}
.frame-parent {
  	position: absolute;
  	top: 243px;
  	left: 936px;
  	border-radius: 20px;
  	background: linear-gradient(#e5feeb, #e5feeb), #fff;
  	width: 384px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 20px 0px 0px;
  	box-sizing: border-box;
  	gap: 24px;
  	color: #333;
}
.group-parent {
  	width: 350px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 5px 10px;
  	box-sizing: border-box;
  	gap: 17px;
}
.ellipse-parent {
  	width: 277px;
  	position: relative;
  	height: 47px;
}
.group-child {
  	position: absolute;
  	top: 2px;
  	left: 0px;
  	border-radius: 50%;
  	width: 42px;
  	height: 42px;
  	object-fit: cover;
}
.mr-abiodun-parent {
  	position: absolute;
  	top: 0px;
  	left: 48px;
  	width: 229px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 7px;
}
.mr-abiodun {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	font-weight: 500;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}
.lagos-nigeria {
  	align-self: stretch;
  	position: relative;
  	font-size: 12px;
  	line-height: 16px;
  	font-weight: 500;
  	font-family: 'SF Pro';
  	color: #b3b3b3;
}
.frame-child {
  	width: 24px;
  	height: 24px;
}
.post-1-parent {
  	overflow-y: auto;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	font-family: 'SF Pro';
}
.post-1 {
  	align-self: stretch;
  	background-color: #fafafa;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 30px;
  	gap: 20px;
}
.post-1-inner {
  	width: 335px;
  	position: relative;
  	height: 44px;
}
.ellipse-group {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 335px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 6px;
}
.frame-item {
  	width: 42px;
  	position: relative;
  	border-radius: 50%;
  	max-height: 100%;
  	object-fit: cover;
}
.frame-wrapper {
  	width: 217px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.mr-abiodun-group {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 7px;
}
.awereness-page-mr-abiodun {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.31px;
  	line-height: 21px;
  	font-weight: 600;
}
.h {
  	align-self: stretch;
  	position: relative;
  	font-size: 12px;
  	line-height: 16px;
  	font-weight: 500;
  	color: #ccc;
}
.all-comment {
  	align-self: stretch;
  	height: 574px;
  	overflow-y: auto;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 15px;
}
.title {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
}
.police-adopt-early-container {
  	width: 335px;
  	position: relative;
  	letter-spacing: -0.31px;
  	line-height: 21px;
  	display: inline-block;
  	flex-shrink: 0;
}
.police-adopt-early {
  	margin: 0;
}
.picvidoe-icon {
  	align-self: stretch;
  	position: relative;
  	max-width: 100%;
  	overflow: hidden;
  	height: 182px;
  	flex-shrink: 0;
  	object-fit: cover;
}
.views-bar {
  	width: 336px;
  	position: relative;
  	height: 15px;
  	flex-shrink: 0;
  	font-size: 11px;
}
.comments-parent {
  	position: absolute;
  	top: 1px;
  	left: 90px;
  	width: 246px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-end;
  	padding: 0px 5px;
  	box-sizing: border-box;
  	gap: 20px;
}
.comments {
  	position: relative;
  	letter-spacing: 0.06px;
  	line-height: 13px;
}
.k-parent {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 44px;
  	height: 15px;
}
.k {
  	position: absolute;
  	top: 1px;
  	left: 24px;
  	letter-spacing: 0.06px;
  	line-height: 13px;
}
.component-3 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 15px;
  	height: 15px;
  	overflow: hidden;
}
.clip-path-group {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.awereness-page-comments {
  	align-self: stretch;
  	height: 177px;
  	overflow-y: auto;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 15px;
}
.comment-cards {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 10px;
}
.comment-cards-child {
  	width: 40px;
  	position: relative;
  	border-radius: 50%;
  	height: 40px;
  	object-fit: cover;
}
.frame-group {
  	width: 286px;
  	border-radius: 0px 5px 5px 5px;
  	background-color: #ccfed7;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.miss-jennifer-wrapper {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 10px;
}
.miss-jennifer {
  	position: relative;
  	letter-spacing: -0.31px;
  	line-height: 21px;
}
.i-have-same-experience-too-it-wrapper {
  	align-self: stretch;
  	border-radius: 10px;
  	background-color: #ccfed7;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
  	font-size: 12px;
}
.i-have-same {
  	width: 268px;
  	position: relative;
  	line-height: 16px;
  	white-space: pre-wrap;
  	display: inline-block;
  	flex-shrink: 0;
}
.frame-container {
  	width: 286px;
  	border-radius: 0px 5px 5px 5px;
  	background-color: #fef2d5;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.i-experienced-something-simila-wrapper {
  	align-self: stretch;
  	border-radius: 10px;
  	background-color: #fef2d5;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
  	font-size: 12px;
}
.i-experienced-something {
  	width: 268px;
  	position: relative;
  	line-height: 16px;
  	display: inline-block;
  	flex-shrink: 0;
}
.frame-div {
  	width: 286px;
  	border-radius: 0px 5px 5px 5px;
  	background-color: #ffeacc;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.my-experience-is-similar-its-wrapper {
  	align-self: stretch;
  	border-radius: 10px;
  	background-color: #ffeacc;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
  	font-size: 12px;
}
.l1-parent {
  	width: 336px;
  	border-radius: 5px;
  	background-color: #e6e6e6;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 10px;
  	box-sizing: border-box;
  	gap: 3px;
  	color: #b3b3b3;
}
.l1 {
  	width: 5px;
  	position: relative;
  	height: 21px;
}
.l {
  	position: absolute;
  	top: 0%;
  	left: 0%;
  	letter-spacing: -0.31px;
  	line-height: 21px;
}
.write-comments {
  	width: 266px;
  	position: relative;
  	letter-spacing: -0.31px;
  	line-height: 21px;
  	display: inline-block;
  	flex-shrink: 0;
}
.vuesaxlinearsend-icon {
  	width: 24px;
  	position: relative;
  	height: 24px;
}
.post-2 {
  	align-self: stretch;
  	background-color: #fafafa;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 30px;
  	gap: 20px;
}
.awereness-page-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fff;
  	width: 1440px;
  	height: 80px;
}
.community-gist {
  	position: absolute;
  	top: 157px;
  	left: 1035px;
  	font-size: 30px;
  	letter-spacing: -0.03em;
  	line-height: 36px;
  	color: #001600;
}
.awereness {
  	position: absolute;
  	top: 148px;
  	left: 119px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 5px;
  	gap: 15px;
  	font-size: 36px;
  	color: #000;
}
.rectangle-parent {
  	align-self: stretch;
  	background-color: #e5feeb;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 30px;
  	gap: 22px;
}
.rectangle-icon {
  	width: 222px;
  	position: relative;
  	border-radius: 30px;
  	height: 222px;
  	object-fit: cover;
}
.awareness-parent {
  	width: 440px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 20px;
}
.awareness {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 40px;
}
.that-cream-that {
  	align-self: stretch;
  	position: relative;
  	font-size: 30px;
  	letter-spacing: -0.03em;
  	line-height: 36px;
  	font-weight: 500;
}
.verify-any-product {
  	align-self: stretch;
  	position: relative;
  	font-size: 24px;
  	letter-spacing: -0.03em;
  	line-height: 32px;
}
.rectangle-group {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 19px;
}
.rectangle-div {
  	width: 35px;
  	position: relative;
  	border-radius: 100px;
  	background-color: #d9d9d9;
  	height: 11px;
}
.frame-child2 {
  	width: 84px;
  	position: relative;
  	border-radius: 100px;
  	background-color: #d9d9d9;
  	height: 11px;
}
.scrolling {
  	position: absolute;
  	top: 2725px;
  	left: 120px;
  	width: 1200px;
  	height: 80px;
  	overflow: hidden;
}
.nafdac-nigeria-id6hgpdduo-0-1-parent {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 50px;
}
.nafdac-nigeria-id6hgpdduo-0-1 {
  	width: 79px;
  	position: relative;
  	max-height: 100%;
  	object-fit: cover;
}
.nestle-logo-icon {
  	width: 80px;
  	position: relative;
  	max-height: 100%;
  	object-fit: cover;
}
.farmcrowdy-logo-icon {
  	width: 385px;
  	position: relative;
  	max-height: 100%;
  	object-fit: cover;
}
.health-assur-ltd-logo {
  	width: 188px;
  	position: relative;
  	max-height: 100%;
  	object-fit: cover;
}
.peak-milk-logo {
  	width: 97px;
  	position: relative;
  	max-height: 100%;
  	object-fit: cover;
}
.recently-added-products-parent {
  	position: absolute;
  	top: 671px;
  	left: 120px;
  	width: 792px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 40px;
  	font-size: 30px;
}
.recently-added-products {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 36px;
  	color: #000;
}
.frame-parent7 {
  	width: 781px;
  	overflow-x: auto;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 25px;
  	font-size: 16px;
}
.rectangle-container {
  	box-shadow: 0px 4px 5.3px rgba(0, 0, 0, 0.25);
  	border-radius: 10px;
  	background-color: #fff;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
  	gap: 15px;
}
.frame-child4 {
  	width: 150px;
  	position: relative;
  	border-radius: 15px;
  	max-height: 100%;
  	object-fit: cover;
}
.luminosa-beauty-parent {
  	width: 251px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 8px;
}
.luminosa-beauty {
  	align-self: stretch;
  	position: relative;
  	font-size: 20px;
  	letter-spacing: -0.03em;
  	line-height: 28px;
}
.badge-products {
  	border-radius: 10px;
  	background-color: #da2a1d;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px 10px;
  	font-size: 14px;
  	color: #fff;
}
.flagged {
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 20px;
}
.cosmetic {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 24px;
}
.awereness-page-badge-products {
  	border-radius: 10px;
  	background-color: #fcc7c3;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px 10px;
  	font-size: 14px;
}
.badge-products3 {
  	border-radius: 10px;
  	background-color: #fef2d5;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px 10px;
  	font-size: 14px;
}
.frame-parent9 {
  	width: 780px;
  	overflow-x: auto;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 25px;
  	font-size: 16px;
}
.badge-products6 {
  	border-radius: 10px;
  	background-color: #e5feeb;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px 10px;
  	font-size: 14px;
}
.harmful-fake-unregistered {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 36px;
  	color: #000;
  	white-space: pre-wrap;
}
.frame-parent10 {
  	width: 776px;
  	overflow-x: auto;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 25px;
  	font-size: 16px;
}
.badge-products9 {
  	border-radius: 10px;
  	background-color: #ffeacc;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px 10px;
  	font-size: 14px;
}
.view-all-product {
  	align-self: stretch;
  	position: relative;
  	font-size: 20px;
  	letter-spacing: -0.03em;
  	line-height: 28px;
  	font-weight: 500;
  	color: #00c503;
  	text-align: right;
  	cursor: pointer;
}
.latest-news {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 36px;
}
.faqs-dropdown-parent {
  	width: 780px;
  	border-radius: 25px;
  	background-color: rgba(0, 0, 0, 0);
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 20px;
  	box-sizing: border-box;
  	gap: 15px;
  	font-size: 24px;
  	color: #000;
}
.faqs-dropdown {
  	width: 638px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.what-is-medcheck-parent {
  	align-self: stretch;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 10px 15px;
  	gap: 24px;
}
.what-is-medcheck {
  	width: 548px;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 32px;
  	font-weight: 500;
  	display: inline-block;
  	flex-shrink: 0;
}
.arrow-drop-down-line-icon {
  	width: 36px;
  	position: relative;
  	max-height: 100%;
}
.what-is-medcheck-container {
  	width: 548px;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 32px;
  	font-weight: 500;
  	display: inline-block;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	flex-shrink: 0;
}
.verified-store-and {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 36px;
  	color: #333;
}
.frame-parent11 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
  	gap: 10px;
  	font-size: 20px;
}
.pharmacy-name-parent {
  	width: 784px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 25px;
}
.pharmacy-name {
  	width: 305px;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 28px;
  	display: inline-block;
  	flex-shrink: 0;
}
.location {
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 28px;
}
.group-container {
  	width: 784px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 10px;
  	font-size: 18px;
}
.alpha-pharmacy-stores-limite-parent {
  	width: 412px;
  	position: relative;
  	height: 28px;
}
.alpha-pharmacy {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	letter-spacing: -0.03em;
  	line-height: 28px;
  	display: inline-block;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	width: 305px;
}
.ikeja-lagos {
  	position: absolute;
  	top: 2px;
  	left: 330px;
  	font-size: 16px;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}
.cmargs-pharmacy-wellmart-parent {
  	width: 452px;
  	position: relative;
  	height: 28px;
}
.medplus-pharmacy-chain-parent {
  	width: 579px;
  	position: relative;
  	height: 28px;
}
.help-pharmacy-lagos-parent {
  	width: 539px;
  	position: relative;
  	height: 28px;
}
.medplus-pharmacy-the-palms-parent {
  	width: 416px;
  	position: relative;
  	height: 28px;
}
.naza-pharmacy-life-link-ot-parent {
  	width: 469px;
  	position: relative;
  	height: 28px;
}
.skylark-pharmacy-parent {
  	width: 421px;
  	position: relative;
  	height: 28px;
}
.group-div {
  	position: absolute;
  	top: 2823px;
  	left: 0px;
  	width: 1440px;
  	height: 643px;
  	color: #fff;
}
.rectangle {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #005f00;
  	width: 1440px;
  	height: 643px;
}
.row-1 {
  	position: absolute;
  	top: 60.26px;
  	left: 185.07px;
  	width: 1068.9px;
  	height: 80.7px;
  	font-size: 24px;
}
.logo {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 192px;
  	height: 44.8px;
}
.logo-parent {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 17px;
  	cursor: pointer;
}
.logo-icon {
  	width: 56px;
  	position: relative;
  	height: 44.8px;
}
.medcheck {
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 32px;
}
.divider {
  	position: absolute;
  	top: 79.74px;
  	left: 0.93px;
  	background-color: #fff;
  	width: 1068px;
  	height: 1px;
  	opacity: 0.1;
  	mix-blend-mode: normal;
}
.newsletter {
  	position: absolute;
  	top: 181px;
  	left: 120px;
  	width: 346.8px;
  	height: 139px;
  	overflow: hidden;
  	font-size: 20px;
}
.subscribe-to-our-container {
  	position: absolute;
  	top: calc(50% - 69.5px);
  	left: 0%;
  	letter-spacing: -0.03em;
  	line-height: 28px;
}
.form {
  	position: absolute;
  	height: 36.69%;
  	width: 100%;
  	top: 63.31%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	overflow: hidden;
  	font-size: 16px;
}
.awereness-page-rectangle {
  	position: absolute;
  	height: 1.96%;
  	width: 100%;
  	top: 98.04%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	background-color: #fff;
  	opacity: 0.1;
  	mix-blend-mode: normal;
}
.awereness-page-subscribe-to-our {
  	position: absolute;
  	top: calc(50% - 11.5px);
  	left: 0%;
  	letter-spacing: -0.03em;
  	line-height: 24px;
}
.submit-icon {
  	position: absolute;
  	height: 98.04%;
  	width: 17.3%;
  	top: 0%;
  	right: 0%;
  	bottom: 1.96%;
  	left: 82.7%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.services {
  	position: absolute;
  	top: 181px;
  	left: 586.8px;
  	width: 127.2px;
  	height: 182px;
  	overflow: hidden;
}
.awereness-page-services {
  	position: absolute;
  	width: 67.92%;
  	top: calc(50% - 91px);
  	left: 0%;
  	font-size: 18px;
  	letter-spacing: -0.03em;
  	line-height: 28px;
  	display: inline-block;
  	color: #99fcaf;
}
.email-marketing {
  	position: absolute;
  	width: 94.34%;
  	top: calc(50% - 49px);
  	left: 0%;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	display: inline-block;
  	cursor: pointer;
}
.campaigns {
  	position: absolute;
  	width: 100.94%;
  	top: calc(50% - 9px);
  	left: 0%;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	display: inline-block;
  	cursor: pointer;
}
.branding {
  	position: absolute;
  	width: 72.64%;
  	top: calc(50% + 31px);
  	left: 0%;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	display: inline-block;
  	cursor: pointer;
}
.offline {
  	position: absolute;
  	top: calc(50% + 71px);
  	left: 0%;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	cursor: pointer;
}
.about {
  	position: absolute;
  	top: 181px;
  	left: 920px;
  	width: 159px;
  	height: 182px;
}
.awereness-page-about {
  	position: absolute;
  	top: calc(50% - 91px);
  	left: 0%;
  	font-size: 18px;
  	letter-spacing: -0.03em;
  	line-height: 28px;
  	color: #99fcaf;
}
.our-story {
  	position: absolute;
  	top: calc(50% - 49px);
  	left: 0%;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	cursor: pointer;
}
.benefits {
  	position: absolute;
  	top: calc(50% - 9px);
  	left: 0%;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	cursor: pointer;
}
.careers {
  	position: absolute;
  	width: 86.16%;
  	top: calc(50% + 71px);
  	left: 0%;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	display: inline-block;
  	cursor: pointer;
}
.team {
  	position: absolute;
  	top: calc(50% + 31px);
  	left: 0%;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	cursor: pointer;
}
.help {
  	position: absolute;
  	width: 4.15%;
  	top: calc(50% - 140.5px);
  	left: 77.64%;
  	font-size: 18px;
  	letter-spacing: -0.03em;
  	line-height: 28px;
  	display: inline-block;
  	color: #99fcaf;
}
.contact-us {
  	position: absolute;
  	top: calc(50% - 98.5px);
  	left: 77.64%;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	cursor: pointer;
}
.row-3 {
  	position: absolute;
  	top: 433px;
  	left: 120px;
  	width: 1200px;
  	height: 22px;
  	overflow: hidden;
}
.terms-conditions {
  	position: absolute;
  	width: 12.93%;
  	top: calc(50% - 9px);
  	left: 0%;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	display: inline-block;
}
.privacy-policy {
  	position: absolute;
  	width: 8.99%;
  	top: calc(50% - 9px);
  	left: 16.2%;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	display: inline-block;
}
.social {
  	position: absolute;
  	height: 100%;
  	width: 12.54%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 87.46%;
}
.facebook-icon {
  	position: absolute;
  	height: 90%;
  	width: 7.38%;
  	top: 4.55%;
  	right: 92.62%;
  	bottom: 5.45%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.twitter-icon {
  	position: absolute;
  	height: 81.36%;
  	width: 16.41%;
  	top: 9.09%;
  	right: 46.29%;
  	bottom: 9.55%;
  	left: 37.3%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.instagram-icon {
  	position: absolute;
  	height: 100%;
  	width: 16.41%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 83.59%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.medcheck-all-rights {
  	position: absolute;
  	top: 577px;
  	left: calc(50% - 600px);
  	font-size: 20px;
  	letter-spacing: -0.03em;
  	line-height: 28px;
  	font-weight: 500;
  	color: #e5feeb;
  	text-align: center;
  	display: inline-block;
  	width: 1200px;
}
.logo-group {
  	position: absolute;
  	top: 21px;
  	left: 70px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 17px;
  	cursor: pointer;
  	font-size: 18px;
}
.awereness-page-logo-icon {
  	width: 40px;
  	position: relative;
  	height: 32px;
}
.awereness-page-medcheck {
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 28px;
  	font-weight: 500;
}
.component-18-parent {
  	position: absolute;
  	top: 3px;
  	left: calc(50% - 157px);
  	border-radius: 25px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 15px;
  	gap: 25px;
  	color: #00c503;
}
.component-18 {
  	border-radius: 10px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px 10px;
  	font-size: 18px;
}
.component-17 {
  	border-radius: 10px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px 10px;
}
.awereness-page-our-service {
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	font-weight: 500;
}
.frame-parent12 {
  	position: absolute;
  	top: 9px;
  	left: 1146px;
  	width: 174px;
  	height: 60px;
}
.group-item {
  	position: absolute;
  	top: 13px;
  	left: 140px;
  	width: 34px;
  	height: 34px;
}
.group-inner {
  	position: absolute;
  	top: 0px;
  	left: 57px;
  	width: 60px;
  	height: 60px;
  	object-fit: cover;
}
.frame-icon {
  	position: absolute;
  	top: 13px;
  	left: 0px;
  	border-radius: 100px;
  	width: 34px;
  	height: 34px;
}
.in-todays-market-the-circula-parent {
  	position: absolute;
  	top: 493px;
  	left: 120px;
  	width: 753px;
  	height: 150px;
  	font-size: 20px;
  	color: #4d4d4d;
}
.in-todays-market-container {
  	position: absolute;
  	top: 38px;
  	left: 0px;
  	letter-spacing: -0.03em;
  	line-height: 28px;
  	font-weight: 500;
  	display: inline-block;
  	width: 753px;
}
.welcome {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	letter-spacing: -0.03em;
  	line-height: 28px;
  	color: #1a1a1a;
}


.notificaton-open {
  	width: 282px;
  	position: relative;
  	border-radius: 0px 0px 15px 15px;
  	background-color: #fff;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 15px;
  	box-sizing: border-box;
  	gap: 10px;
  	max-width: 90%;
  	max-height: 90%;
  	overflow: auto;
  	text-align: left;
  	font-size: 12px;
  	color: #1a1a1a;
  	font-family: 'DM Sans';
}
.notification-default {
  	width: 252px;
  	border-radius: 0px 10px 10px 10px;
  	background-color: #fff;
  	border-bottom: 2px solid #00ab00;
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 10px;
  	gap: 12px;
}
.notification-default-child {
  	width: 40px;
  	position: relative;
  	border-radius: 50%;
  	max-height: 100%;
  	object-fit: cover;
}
.notificaton-open-frame-parent {
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 6px;
}
.miss-jennifer-parent {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 14px;
  	font-size: 16px;
}
.notificaton-open-miss-jennifer {
  	flex: 1;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 24px;
  	font-weight: 500;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}
.view-wrapper {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px;
  	text-align: center;
  	font-size: 12px;
  	color: #999;
}
.view {
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 16px;
}
.fake-product-everywhere {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 16px;
  	color: #4d4d4d;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}
.m-ago {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 16px;
  	color: #999;
}


.profilelogout {
  	width: 193px;
  	position: relative;
  	background-color: #fff;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 5px;
  	max-width: 90%;
  	max-height: 90%;
  	overflow: auto;
  	text-align: right;
  	font-size: 18px;
  	color: #00c503;
  	font-family: 'DM Sans';
}
.profilelogout-component-18 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 5px 10px;
}
.profilelogout-our-service {
  	flex: 1;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 28px;
  	font-weight: 500;
}

